<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [120]:
import pandas as pd
import numpy as np
import os
import datetime

In [124]:
files = os.listdir("F:\\Project_incubator\\ETS\\Temp\\Codes\\Data\\Power")

In [125]:
files_2010 = [x for x in files if '2010' in x]

In [126]:
path =  os.path.join ('F:\\Project_incubator\\ETS\\Temp\\Codes\\Data\\Power' , files_2010[0])
df = pd.read_csv(path)
for i in range(1, len(files_2010)):
    path =  os.path.join ('F:\\Project_incubator\\ETS\\Temp\\Codes\\Data\\Power' , files_2010[i])
    df1 = pd.read_csv(path)
    df = df.append(df1)

In [127]:
df.head()

,Date,Forecast Pool Price,Actual Posted Pool Price,Day-Ahead Forecasted AIL,Actual AIL,Forecasted & Actual AIL Difference
0,01/03/2010 01,26.07,25.47,"7,913","8,046",-133
1,01/03/2010 02,13.69,16.73,"7,770","7,866",-96
2,01/03/2010 03,35.55,26.26,"7,682","7,758",-76
3,01/03/2010 04,47.61,41.28,"7,647","7,717",-70
4,01/03/2010 05,35.99,31.74,"7,646","7,710",-64

In [128]:
def hour_extarct(row):
    a = row['Date']
    a=a.split(' ')
    return a[1]
df['Hour'] = df.apply(hour_extarct, axis = 1)
def date_extarct(row):
    a = row['Date']
    a=a.split(' ')
    return a[0]
df['Date_'] = df.apply(date_extarct, axis = 1)

In [129]:
df.head()

,Date,Forecast Pool Price,Actual Posted Pool Price,Day-Ahead Forecasted AIL,Actual AIL,Forecasted & Actual AIL Difference,Hour,Date_
0,01/03/2010 01,26.07,25.47,"7,913","8,046",-133,01,01/03/2010
1,01/03/2010 02,13.69,16.73,"7,770","7,866",-96,02,01/03/2010
2,01/03/2010 03,35.55,26.26,"7,682","7,758",-76,03,01/03/2010
3,01/03/2010 04,47.61,41.28,"7,647","7,717",-70,04,01/03/2010
4,01/03/2010 05,35.99,31.74,"7,646","7,710",-64,05,01/03/2010

In [131]:
df1 = df.copy()

In [132]:
df1 ['Date'] = pd.to_datetime(df1.Date_)
df1 ['Month'] = df1 ['Date'].dt.month
df1 ['Day'] = df1 ['Date'].dt.day

In [133]:
df1 = df1[df1['Hour'] != '02*']

In [134]:
df2= df1.copy()

df2 ['Hour'] = df2['Hour'].astype(int)

In [136]:
len(df2)

9671

In [137]:
df2.head()

,Date,Forecast Pool Price,Actual Posted Pool Price,Day-Ahead Forecasted AIL,Actual AIL,Forecasted & Actual AIL Difference,Hour,Date_,Month,Day
0,2010-01-03,26.07,25.47,"7,913","8,046",-133,1,01/03/2010,1,3
1,2010-01-03,13.69,16.73,"7,770","7,866",-96,2,01/03/2010,1,3
2,2010-01-03,35.55,26.26,"7,682","7,758",-76,3,01/03/2010,1,3
3,2010-01-03,47.61,41.28,"7,647","7,717",-70,4,01/03/2010,1,3
4,2010-01-03,35.99,31.74,"7,646","7,710",-64,5,01/03/2010,1,3

In [138]:
df2 = df2.sort_values(by=['Date', 'Hour'])

In [139]:
df2.head()

,Date,Forecast Pool Price,Actual Posted Pool Price,Day-Ahead Forecasted AIL,Actual AIL,Forecasted & Actual AIL Difference,Hour,Date_,Month,Day
0,2009-12-03,39.17,40.12,"7,895","7,989",-94,1,12/03/2009,12,3
1,2009-12-03,46.54,43.41,"7,762","7,881",-119,2,12/03/2009,12,3
2,2009-12-03,39.93,46.82,"7,686","7,759",-73,3,12/03/2009,12,3
3,2009-12-03,91.62,52.00,"7,673","7,741",-68,4,12/03/2009,12,3
4,2009-12-03,170.00,52.00,"7,721","7,793",-72,5,12/03/2009,12,3

In [140]:
df2 = df2.drop(['Date_'], axis=1)

In [141]:
df2.head()

,Date,Forecast Pool Price,Actual Posted Pool Price,Day-Ahead Forecasted AIL,Actual AIL,Forecasted & Actual AIL Difference,Hour,Month,Day
0,2009-12-03,39.17,40.12,"7,895","7,989",-94,1,12,3
1,2009-12-03,46.54,43.41,"7,762","7,881",-119,2,12,3
2,2009-12-03,39.93,46.82,"7,686","7,759",-73,3,12,3
3,2009-12-03,91.62,52.00,"7,673","7,741",-68,4,12,3
4,2009-12-03,170.00,52.00,"7,721","7,793",-72,5,12,3

In [142]:
df2 ['Year'] =  df2 ['Date'].dt.year
df3 = df2 [(df2['Year'] != 2009) & (df2['Year'] != 2011)] 

df3 = df3.reset_index()


df3 = df3.drop(['index'], axis=1)

In [145]:
df3.head()

,Date,Forecast Pool Price,Actual Posted Pool Price,Day-Ahead Forecasted AIL,Actual AIL,Forecasted & Actual AIL Difference,Hour,Month,Day,Year
0,2010-01-01,49.68,51.12,"8,205","8,307",-102,1,1,1,2010
1,2010-01-01,38.00,48.79,"8,039","8,186",-147,2,1,1,2010
2,2010-01-01,44.45,39.56,"7,939","8,075",-136,3,1,1,2010
3,2010-01-01,36.21,36.27,"7,908","8,013",-105,4,1,1,2010
4,2010-01-01,36.24,36.16,"7,912","7,982",-70,5,1,1,2010

In [146]:
df_2010_power = df3.copy()

In [153]:
df_2010_power.to_csv("F:\\Project_incubator\\ETS\\Temp\\Codes\\Data\\Power\\fixed\\df_2010.csv")

In [ ]:
#### 2011

In [164]:
files_2011 = [x for x in files if '2011' in x]
path =  os.path.join ('F:\\Project_incubator\\ETS\\Temp\\Codes\\Data\\Power' , files_2011[0])
df = pd.read_csv(path)
for i in range(1, len(files_2011)):
    path =  os.path.join ('F:\\Project_incubator\\ETS\\Temp\\Codes\\Data\\Power' , files_2011[i])
    df1 = pd.read_csv(path)
    df = df.append(df1)

In [165]:
def hour_extarct(row):
    a = row['Date']
    a=a.split(' ')
    return a[1]
df['Hour'] = df.apply(hour_extarct, axis = 1)
def date_extarct(row):
    a = row['Date']
    a=a.split(' ')
    return a[0]
df['Date_'] = df.apply(date_extarct, axis = 1)

In [166]:
df1 = df.copy()
df1 ['Date'] = pd.to_datetime(df1.Date_)
df1 ['Month'] = df1 ['Date'].dt.month
df1 ['Day'] = df1 ['Date'].dt.day
df1 = df1[df1['Hour'] != '02*']
df2= df1.copy()
df2 ['Hour'] = df2['Hour'].astype(int)
df2 = df2.sort_values(by=['Date', 'Hour'])
df2 = df2.drop(['Date_'], axis=1)

In [167]:
df2 ['Year'] =  df2 ['Date'].dt.year
#change
df3 = df2 [(df2['Year'] != 2010) & (df2['Year'] != 2012)] 
df3 = df3.reset_index()
df3 = df3.drop(['index'], axis=1)

In [168]:
#change
df_2011_power = df3.copy()   
df_2011_power.to_csv("F:\\Project_incubator\\ETS\\Temp\\Codes\\Data\\Power\\fixed\\df_2011.csv")

In [169]:
##2012
files_2012 = [x for x in files if '2012' in x]
path =  os.path.join ('F:\\Project_incubator\\ETS\\Temp\\Codes\\Data\\Power' , files_2012[0])
df = pd.read_csv(path)
for i in range(1, len(files_2012)):
    path =  os.path.join ('F:\\Project_incubator\\ETS\\Temp\\Codes\\Data\\Power' , files_2012[i])
    df1 = pd.read_csv(path)
    df = df.append(df1)

def hour_extarct(row):
    a = row['Date']
    a=a.split(' ')
    return a[1]
df['Hour'] = df.apply(hour_extarct, axis = 1)
def date_extarct(row):
    a = row['Date']
    a=a.split(' ')
    return a[0]
df['Date_'] = df.apply(date_extarct, axis = 1)

df1 = df.copy()
df1 ['Date'] = pd.to_datetime(df1.Date_)
df1 ['Month'] = df1 ['Date'].dt.month
df1 ['Day'] = df1 ['Date'].dt.day
df1 = df1[df1['Hour'] != '02*']
df2= df1.copy()
df2 ['Hour'] = df2['Hour'].astype(int)
df2 = df2.sort_values(by=['Date', 'Hour'])
df2 = df2.drop(['Date_'], axis=1)

df2 ['Year'] =  df2 ['Date'].dt.year
#change
df3 = df2 [(df2['Year'] != 2011) & (df2['Year'] != 2013)] 
df3 = df3.reset_index()
df3 = df3.drop(['index'], axis=1)

#change
df_2012_power = df3.copy()   
df_2012_power.to_csv("F:\\Project_incubator\\ETS\\Temp\\Codes\\Data\\Power\\fixed\\df_2012.csv")

In [174]:
#### 2013


files_2013 = [x for x in files if '2013' in x]
path =  os.path.join ('F:\\Project_incubator\\ETS\\Temp\\Codes\\Data\\Power' , files_2013[0])
df = pd.read_csv(path)
for i in range(1, len(files_2013)):
    path =  os.path.join ('F:\\Project_incubator\\ETS\\Temp\\Codes\\Data\\Power' , files_2013[i])
    df1 = pd.read_csv(path)
    df = df.append(df1)

def hour_extarct(row):
    a = row['Date']
    a=a.split(' ')
    return a[1]
df['Hour'] = df.apply(hour_extarct, axis = 1)
def date_extarct(row):
    a = row['Date']
    a=a.split(' ')
    return a[0]
df['Date_'] = df.apply(date_extarct, axis = 1)

df1 = df.copy()
df1 ['Date'] = pd.to_datetime(df1.Date_)
df1 ['Month'] = df1 ['Date'].dt.month
df1 ['Day'] = df1 ['Date'].dt.day
df1 = df1[df1['Hour'] != '02*']
df2= df1.copy()
df2 ['Hour'] = df2['Hour'].astype(int)
df2 = df2.sort_values(by=['Date', 'Hour'])
df2 = df2.drop(['Date_'], axis=1)

df2 ['Year'] =  df2 ['Date'].dt.year
#change
df3 = df2 [(df2['Year'] != 2012) & (df2['Year'] != 2014)] 
df3 = df3.reset_index()
df3 = df3.drop(['index'], axis=1)

#change
df_2013_power = df3.copy()   
df_2013_power.to_csv("F:\\Project_incubator\\ETS\\Temp\\Codes\\Data\\Power\\fixed\\df_2013.csv")

In [175]:
#### 2014


files_2014 = [x for x in files if '2014' in x]
path =  os.path.join ('F:\\Project_incubator\\ETS\\Temp\\Codes\\Data\\Power' , files_2014[0])
df = pd.read_csv(path)
for i in range(1, len(files_2014)):
    path =  os.path.join ('F:\\Project_incubator\\ETS\\Temp\\Codes\\Data\\Power' , files_2014[i])
    df1 = pd.read_csv(path)
    df = df.append(df1)

def hour_extarct(row):
    a = row['Date']
    a=a.split(' ')
    return a[1]
df['Hour'] = df.apply(hour_extarct, axis = 1)
def date_extarct(row):
    a = row['Date']
    a=a.split(' ')
    return a[0]
df['Date_'] = df.apply(date_extarct, axis = 1)

df1 = df.copy()
df1 ['Date'] = pd.to_datetime(df1.Date_)
df1 ['Month'] = df1 ['Date'].dt.month
df1 ['Day'] = df1 ['Date'].dt.day
df1 = df1[df1['Hour'] != '02*']
df2= df1.copy()
df2 ['Hour'] = df2['Hour'].astype(int)
df2 = df2.sort_values(by=['Date', 'Hour'])
df2 = df2.drop(['Date_'], axis=1)

df2 ['Year'] =  df2 ['Date'].dt.year
#change
df3 = df2 [(df2['Year'] != 2013) & (df2['Year'] != 2015)] 
df3 = df3.reset_index()
df3 = df3.drop(['index'], axis=1)

#change
df_2014_power = df3.copy()   
df_2014_power.to_csv("F:\\Project_incubator\\ETS\\Temp\\Codes\\Data\\Power\\fixed\\df_2014.csv")

In [176]:
#### 2015

files_2015 = [x for x in files if '2015' in x]
path =  os.path.join ('F:\\Project_incubator\\ETS\\Temp\\Codes\\Data\\Power' , files_2015[0])
df = pd.read_csv(path)
for i in range(1, len(files_2015)):
    path =  os.path.join ('F:\\Project_incubator\\ETS\\Temp\\Codes\\Data\\Power' , files_2015[i])
    df1 = pd.read_csv(path)
    df = df.append(df1)

def hour_extarct(row):
    a = row['Date']
    a=a.split(' ')
    return a[1]
df['Hour'] = df.apply(hour_extarct, axis = 1)
def date_extarct(row):
    a = row['Date']
    a=a.split(' ')
    return a[0]
df['Date_'] = df.apply(date_extarct, axis = 1)

df1 = df.copy()
df1 ['Date'] = pd.to_datetime(df1.Date_)
df1 ['Month'] = df1 ['Date'].dt.month
df1 ['Day'] = df1 ['Date'].dt.day
df1 = df1[df1['Hour'] != '02*']
df2= df1.copy()
df2 ['Hour'] = df2['Hour'].astype(int)
df2 = df2.sort_values(by=['Date', 'Hour'])
df2 = df2.drop(['Date_'], axis=1)

df2 ['Year'] =  df2 ['Date'].dt.year
#change
df3 = df2 [(df2['Year'] != 2014) & (df2['Year'] != 2016)] 
df3 = df3.reset_index()
df3 = df3.drop(['index'], axis=1)

#change
df_2015_power = df3.copy()   
df_2015_power.to_csv("F:\\Project_incubator\\ETS\\Temp\\Codes\\Data\\Power\\fixed\\df_2015.csv")

In [177]:
#### 2016

files_2016 = [x for x in files if '2016' in x]
path =  os.path.join ('F:\\Project_incubator\\ETS\\Temp\\Codes\\Data\\Power' , files_2016[0])
df = pd.read_csv(path)
for i in range(1, len(files_2016)):
    path =  os.path.join ('F:\\Project_incubator\\ETS\\Temp\\Codes\\Data\\Power' , files_2016[i])
    df1 = pd.read_csv(path)
    df = df.append(df1)

def hour_extarct(row):
    a = row['Date']
    a=a.split(' ')
    return a[1]
df['Hour'] = df.apply(hour_extarct, axis = 1)
def date_extarct(row):
    a = row['Date']
    a=a.split(' ')
    return a[0]
df['Date_'] = df.apply(date_extarct, axis = 1)

df1 = df.copy()
df1 ['Date'] = pd.to_datetime(df1.Date_)
df1 ['Month'] = df1 ['Date'].dt.month
df1 ['Day'] = df1 ['Date'].dt.day
df1 = df1[df1['Hour'] != '02*']
df2= df1.copy()
df2 ['Hour'] = df2['Hour'].astype(int)
df2 = df2.sort_values(by=['Date', 'Hour'])
df2 = df2.drop(['Date_'], axis=1)

df2 ['Year'] =  df2 ['Date'].dt.year
#change
df3 = df2 [(df2['Year'] != 2015) & (df2['Year'] != 2017)] 
df3 = df3.reset_index()
df3 = df3.drop(['index'], axis=1)

#change
df_2016_power = df3.copy()   
df_2016_power.to_csv("F:\\Project_incubator\\ETS\\Temp\\Codes\\Data\\Power\\fixed\\df_2016.csv")

In [178]:
#### 2017

files_2017 = [x for x in files if '2017' in x]
path =  os.path.join ('F:\\Project_incubator\\ETS\\Temp\\Codes\\Data\\Power' , files_2017[0])
df = pd.read_csv(path)
for i in range(1, len(files_2017)):
    path =  os.path.join ('F:\\Project_incubator\\ETS\\Temp\\Codes\\Data\\Power' , files_2017[i])
    df1 = pd.read_csv(path)
    df = df.append(df1)

def hour_extarct(row):
    a = row['Date']
    a=a.split(' ')
    return a[1]
df['Hour'] = df.apply(hour_extarct, axis = 1)
def date_extarct(row):
    a = row['Date']
    a=a.split(' ')
    return a[0]
df['Date_'] = df.apply(date_extarct, axis = 1)

df1 = df.copy()
df1 ['Date'] = pd.to_datetime(df1.Date_)
df1 ['Month'] = df1 ['Date'].dt.month
df1 ['Day'] = df1 ['Date'].dt.day
df1 = df1[df1['Hour'] != '02*']
df2= df1.copy()
df2 ['Hour'] = df2['Hour'].astype(int)
df2 = df2.sort_values(by=['Date', 'Hour'])
df2 = df2.drop(['Date_'], axis=1)

df2 ['Year'] =  df2 ['Date'].dt.year
#change
df3 = df2 [(df2['Year'] != 2016) & (df2['Year'] != 2018)] 
df3 = df3.reset_index()
df3 = df3.drop(['index'], axis=1)

#change
df_2017_power = df3.copy()   
df_2017_power.to_csv("F:\\Project_incubator\\ETS\\Temp\\Codes\\Data\\Power\\fixed\\df_2017.csv")